#headimg{
	
  width: 1384px;
	height: 300px;
  padding-left: 17%;
  
}

/*Cuerpo*/

.cuerpo{
  background-image: linear-gradient(to right, #ee1c6f, #242c99);
  min-height: 885px;
}

/* redes sociales en el footer*/

.socialw {
width: 235px;
margin: 30px auto 0 auto;
overflow: auto;
height: 100%;
}

.social{
  position:relative;
border: 1px solid #292929;
width: 37px;
height: 62px;
float: left;
margin-left: 10px;
overflow: hidden;
}

.first {
margin-left: 0px;
}
@-webkit-keyframes fadeInDown {
0% {  opacity: 0;  -webkit-transform: translateY(-100px);  }
100% {  opacity: 1;  -webkit-transform: translateY(0);}
}

@-moz-keyframes fadeInDown {
0% {  opacity: 0;  -moz-transform: translateY(-100px);}
100% {  opacity: 1;  -moz-transform: translateY(0);  }
}

@-o-keyframes fadeInDown {
0% {  opacity: 0;  -o-transform: translateY(-100px);}
100% {  opacity: 1;  -o-transform: translateY(0);  }
}

@keyframes fadeInDown {
0% {  opacity: 0;  transform: translateY(-100px);}
100% {  opacity: 1;  transform: translateY(0);}
}

.fadeInDown {
-webkit-animation: fadeInDown 1s both 0.5s;
-moz-animation: fadeInDown 1s both 0.5s;
-o-animation: fadeInDown 1s both 0.5s;
animation: fadeInDown 1s both 0.5s;
}
.social img{
position:absolute;
left:0;
top:0;
-webkit-transition: margin-top 250ms ease-in;
-moz-transition: margin-top 250ms ease-in;
-o-transition:  margin-top 250ms ease-in;
transition:  margin-top 250ms ease-in;
}
.social:hover img{
margin-top:-62px;
}

#patrocinadores{
	width:100%;
	height:100%;
	text-align:center;
	
}

.info:link{
		color:black;
}
.info:hover{
		color:white;
		background:#D3D3D3;
}

#valorac{
  font-family:Verdana, Geneva, Tahoma, sans-serif;}

  /*Cuadro Valoración*/

  #centro{

    background-color: gray;
    height: 75%;
    width: 60%;
    position: absolute;
  
}

.texto {
    background-color: #fafafa;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #ccc;
    /* IMPORTANTE */
    text-align: center;
  }

  #form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: orange;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: orangered}
  
  .button:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #contenedor{

    background-color: lightblue;
    height: 100%;
    width: 100%; 
    top: 0px;
	left:0px;
    /* IMPORTANTE */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #textborder{

    border-color: black;
    border: 110px;
  }


  /*Fuente del menú de inicio*/

  #texto{
    font: bolder;
    font-size: large;
  }

  /* adaptación a dispositivos*/

  @media screen and (max-width: 980px){
    #contenedor{
        width: 90%;
    }
    #contenido{
        width: 60%;
    }
    #barra_lateral{
        width:30%;
    }
}

@media screen and (max-width: 480px){
  #encabezado{
      height: auto;
  }
  #contenido{
      width: auto;
  }
  #barra_lateral{
      display:none;
  }
}


  

